In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("test.csv")
clean = pd.read_csv("without_pen_mask.csv")
df_train = pd.read_csv("train_5fold.csv")

In [4]:
print(df.shape)
print(clean[clean["reason"]=="marks"].shape)
print(df_train.shape)
df_train = df_train[~df_train["image_id"].isin(clean[clean["reason"]=="marks"].image_id)]
print("val", df_train[df_train["fold"] == 3].shape)
print("train", df_train[df_train["fold"] != 3].shape)

fold_counts = df_train.groupby('fold').size()

print(fold_counts)

(1592, 4)
(475, 2)
(9024, 5)
val (1737, 5)
train (6891, 5)
fold
0    1726
1    1712
2    1716
3    1737
4    1737
dtype: int64

In [5]:
df = df[~df["image_id"].isin(clean["image_id"])]

In [26]:
df_train[df_train["isup_grade"] == 5].shape

(955, 5)

In [29]:
df_train[(df_train["data_provider"] == "radboud") & (df_train["isup_grade"] == 0)].shape

(793, 5)

In [31]:
df_train[(df_train["data_provider"] == "karolinska") & (df_train["isup_grade"] == 5)].shape

(214, 5)

# Predict Analyse

In [15]:
df_predict_clean = pd.read_csv("predict_clean.csv")
df_test = pd.read_csv("test.csv")

df_merge = pd.merge(df_predict_clean, df_test, on="image_id")

(1592, 7)
   Unnamed: 0  target  pred                          image_id data_provider  \
0           0     0.0   0.0  5ad2c7349c24ed5c4901522bec9d3077    karolinska
1           1     4.0   4.0  96bb7ad81bef9aa7ce0280d7b49b6476    karolinska
2           2     2.0   3.0  cb9bc923249b183c8fc5b904f622695e       radboud
3           3     1.0   0.0  f7af5eef3236461e745cd8b81f1cf93b    karolinska
4           4     0.0   0.0  f35124ad7e0c9d8537a8e57966c06445    karolinska

   isup_grade gleason_score
0           0           0+0
1           4           4+4
2           2           3+4
3           1           3+3
4           0           0+0

In [65]:
df_merge[(df_merge["target"]==5) & (df_merge["pred"] == 0)].shape
# df_merge[(df_merge["target"]==5)].value_counts("data_provider")

(10, 7)

In [ ]:
df_test[(df_test["data_provider"]=="radboud") & (df_test["data_provider"]=="radboud")]

In [48]:
df_test.groupby(["isup_grade", "data_provider"]).size().unstack()

data_provider  karolinska  radboud
isup_grade
0                     280      154
1                     291      109
2                     115       86
3                      46      140
4                      66      121
5                      37      147

# Data visualization

In [63]:
df_counts_train = df_train.groupby(['isup_grade', 'data_provider']).size().unstack()
df_counts_test = df_test.groupby(['isup_grade', 'data_provider']).size().unstack()

df_counts_test

data_provider  karolinska  radboud
isup_grade
0                     280      154
1                     291      109
2                     115       86
3                      46      140
4                      66      121
5                      37      147