In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../../dataset/train.csv")
df.head()

                           image_id data_provider  isup_grade gleason_score
0  0005f7aaab2800f6170c399693a96917    karolinska           0           0+0
1  000920ad0b612851f8e01bcc880d9b3d    karolinska           0           0+0
2  0018ae58b01bdadc8e347995b69f99aa       radboud           4           4+4
3  001c62abd11fa4b57bf7a6c603a11bb9    karolinska           4           4+4
4  001d865e65ef5d2579c190a0e0350d8f    karolinska           0           0+0

In [3]:
train_df, val_test_df = train_test_split(df, test_size=0.3, random_state=42, shuffle=True, stratify=df["isup_grade"])
test_df, val_df = train_test_split(val_test_df, test_size=0.5, random_state=42, shuffle=True, stratify=val_test_df["isup_grade"])

In [4]:
(train_df.shape, val_df.shape, test_df.shape)

((7431, 4), (1593, 4), (1592, 4))

In [5]:
train_df.to_csv("train.csv", index=False)
val_df.to_csv("val.csv", index=False)
test_df.to_csv("test.csv", index=False)

In [6]:
train_val_df = pd.concat([train_df, val_df], axis=0)

In [8]:
train_val_df.to_csv("train_val.csv", index=False)